<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.shop.mapper.BuyerAddressMapper">
    
    <resultMap type="BuyerAddress" id="BuyerAddressResult">
        <result property="addressId"    column="ADDRESS_ID"    />
        <result property="addressName"    column="ADDRESS_NAME"    />
        <result property="seqNumber"    column="SEQ_NUMBER"    />
        <result property="province"    column="PROVINCE"    />
        <result property="city"    column="CITY"    />
        <result property="county"    column="COUNTY"    />
        <result property="street"    column="STREET"    />
        <result property="lastDetail"    column="LAST_DETAIL"    />
        <result property="revision"    column="REVISION"    />
        <result property="createdBy"    column="CREATED_BY"    />
        <result property="createdTime"    column="CREATED_TIME"    />
        <result property="updatedBy"    column="UPDATED_BY"    />
        <result property="updatedTime"    column="UPDATED_TIME"    />
        <result property="uid"    column="uid"    />
        <result property="phone"    column="phone"    />
        <result property="provinceName"    column="PROVINCENAME"    />
        <result property="cityName"    column="CITYNAME"    />
        <result property="countyName"    column="COUNTYNAME"    />
        <result property="value"    column="value"    />
        <result property="region"    column="region"    />



    </resultMap>

    <sql id="selectBuyerAddressVo">
        select  BUYER_ADDRESS.*, p.name PROVINCENAME, c.name CITYNAME, cny.name COUNTYNAME
        from BUYER_ADDRESS
        left join city p on BUYER_ADDRESS.PROVINCE=p.id
        left join city c on BUYER_ADDRESS.CITY=c.id
        left join city cny on BUYER_ADDRESS.COUNTY=cny.id

    </sql>

    <select id="selectBuyerAddressList" parameterType="BuyerAddress" resultMap="BuyerAddressResult">
        <include refid="selectBuyerAddressVo"/>
        <where>  
            <if test="addressName != null  and addressName != ''"> and ADDRESS_NAME like concat('%', #{addressName}, '%')</if>
            <if test="seqNumber != null "> and BUYER_ADDRESS.SEQ_NUMBER = #{seqNumber}</if>
            <if test="province != null "> and BUYER_ADDRESS.PROVINCE = #{province}</if>
            <if test="city != null "> and BUYER_ADDRESS.CITY = #{city}</if>
            <if test="county != null "> and BUYER_ADDRESS.COUNTY = #{county}</if>
            <if test="street != null  and street != ''"> and BUYER_ADDRESS.STREET = #{street}</if>
            <if test="lastDetail != null  and lastDetail != ''"> and BUYER_ADDRESS.LAST_DETAIL = #{lastDetail}</if>
            <if test="uid != null "> and BUYER_ADDRESS.uid = #{uid}</if>
            <if test="phone != null "> and BUYER_ADDRESS.phone = #{phone}</if>
            <if test="value != null "> and BUYER_ADDRESS.value = #{value}</if>
            <if test="region != null "> and BUYER_ADDRESS.region = #{region}</if>
        </where>
    </select>
    
    <select id="selectBuyerAddressByAddressId" parameterType="Long" resultMap="BuyerAddressResult">
        <include refid="selectBuyerAddressVo"/>
        where BUYER_ADDRESS.ADDRESS_ID = #{addressId}
    </select>
        
    <insert id="insertBuyerAddress" parameterType="BuyerAddress">
        insert into BUYER_ADDRESS
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="addressId != null">ADDRESS_ID,</if>
            <if test="addressName != null">ADDRESS_NAME,</if>
            <if test="seqNumber != null">SEQ_NUMBER,</if>
            <if test="province != null">PROVINCE,</if>
            <if test="city != null">CITY,</if>
            <if test="county != null">COUNTY,</if>
            <if test="street != null">STREET,</if>
            <if test="lastDetail != null">LAST_DETAIL,</if>
            <if test="revision != null">REVISION,</if>
            <if test="createdBy != null">CREATED_BY,</if>
            <if test="createdTime != null">CREATED_TIME,</if>
            <if test="updatedBy != null">UPDATED_BY,</if>
            <if test="updatedTime != null">UPDATED_TIME,</if>
            <if test="uid != null">uid,</if>
            <if test="phone != null">phone,</if>
            <if test="value != null">value,</if>
            <if test="region != null">region,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="addressId != null">#{addressId},</if>
            <if test="addressName != null">#{addressName},</if>
            <if test="seqNumber != null">#{seqNumber},</if>
            <if test="province != null">#{province},</if>
            <if test="city != null">#{city},</if>
            <if test="county != null">#{county},</if>
            <if test="street != null">#{street},</if>
            <if test="lastDetail != null">#{lastDetail},</if>
            <if test="revision != null">#{revision},</if>
            <if test="createdBy != null">#{createdBy},</if>
            <if test="createdTime != null">#{createdTime},</if>
            <if test="updatedBy != null">#{updatedBy},</if>
            <if test="updatedTime != null">#{updatedTime},</if>
            <if test="uid != null">#{uid},</if>
            <if test="phone != null">#{phone},</if>
            <if test="value != null">#{value},</if>
            <if test="region != null">#{region},</if>
        </trim>
    </insert>

    <update id="updateBuyerAddress" parameterType="BuyerAddress">
        update BUYER_ADDRESS
        <trim prefix="SET" suffixOverrides=",">
            <if test="addressName != null">ADDRESS_NAME = #{addressName},</if>
            <if test="seqNumber != null">SEQ_NUMBER = #{seqNumber},</if>
            <if test="province != null">PROVINCE = #{province},</if>
            <if test="city != null">CITY = #{city},</if>
            <if test="county != null">COUNTY = #{county},</if>
            <if test="street != null">STREET = #{street},</if>
            <if test="lastDetail != null">LAST_DETAIL = #{lastDetail},</if>
            <if test="revision != null">REVISION = #{revision},</if>
            <if test="createdBy != null">CREATED_BY = #{createdBy},</if>
            <if test="createdTime != null">CREATED_TIME = #{createdTime},</if>
            <if test="updatedBy != null">UPDATED_BY = #{updatedBy},</if>
            <if test="updatedTime != null">UPDATED_TIME = #{updatedTime},</if>
            <if test="uid != null">uid = #{uid},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="value != null">value = #{value},</if>
            <if test="region != null">region = #{region},</if>


        </trim>
        where ADDRESS_ID = #{addressId}
    </update>

    <delete id="deleteBuyerAddressByAddressId" parameterType="Long">
        delete from BUYER_ADDRESS where ADDRESS_ID = #{addressId}
    </delete>

    <delete id="deleteBuyerAddressByAddressIds" parameterType="String">
        delete from BUYER_ADDRESS where ADDRESS_ID in 
        <foreach item="addressId" collection="array" open="(" separator="," close=")">
            #{addressId}
        </foreach>
    </delete>
</mapper>