<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.shop.mapper.GdptAdvertMapper">
    
    <resultMap type="GdptAdvert" id="GdptAdvertResult">
        <result property="id"    column="ID"    />
        <result property="title"    column="TITLE"    />
        <result property="intro"    column="INTRO"    />
        <result property="content"    column="CONTENT"    />
        <result property="titleImage"    column="TITLE_IMAGE"    />
        <result property="viewCount"    column="VIEW_COUNT"    />
        <result property="startDate"    column="START_DATE"    />
        <result property="expiryDate"    column="EXPIRY_DATE"    />
        <result property="status"    column="STATUS"    />
        <result property="revision"    column="REVISION"    />
        <result property="createdBy"    column="CREATED_BY"    />
        <result property="createdTime"    column="CREATED_TIME"    />
        <result property="updatedBy"    column="UPDATED_BY"    />
        <result property="updatedTime"    column="UPDATED_TIME"    />
    </resultMap>

    <sql id="selectGdptAdvertVo">
        select ID, TITLE, INTRO, CONTENT, TITLE_IMAGE, VIEW_COUNT, START_DATE, EXPIRY_DATE, STATUS, REVISION, CREATED_BY, CREATED_TIME, UPDATED_BY, UPDATED_TIME from GDPT_ADVERT
    </sql>

    <select id="selectGdptAdvertList" parameterType="GdptAdvert" resultMap="GdptAdvertResult">
        <include refid="selectGdptAdvertVo"/>
        <where>  
            <if test="title != null  and title != ''"> and TITLE = #{title}</if>
            <if test="intro != null  and intro != ''"> and INTRO = #{intro}</if>
            <if test="content != null  and content != ''"> and CONTENT = #{content}</if>
            <if test="titleImage != null  and titleImage != ''"> and TITLE_IMAGE = #{titleImage}</if>
            <if test="viewCount != null "> and VIEW_COUNT = #{viewCount}</if>
            <if test="startDate != null "> and START_DATE = #{startDate}</if>
            <if test="expiryDate != null "> and EXPIRY_DATE = #{expiryDate}</if>
            <if test="status != null  and status != ''"> and STATUS = #{status}</if>
            <if test="revision != null "> and REVISION = #{revision}</if>
            <if test="createdBy != null  and createdBy != ''"> and CREATED_BY = #{createdBy}</if>
            <if test="createdTime != null "> and CREATED_TIME = #{createdTime}</if>
            <if test="updatedBy != null  and updatedBy != ''"> and UPDATED_BY = #{updatedBy}</if>
            <if test="updatedTime != null "> and UPDATED_TIME = #{updatedTime}</if>
        </where>
    </select>
    
    <select id="selectGdptAdvertById" parameterType="String" resultMap="GdptAdvertResult">
        <include refid="selectGdptAdvertVo"/>
        where ID = #{id}
    </select>
        
    <insert id="insertGdptAdvert" parameterType="GdptAdvert">
        insert into GDPT_ADVERT
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">ID,</if>
            <if test="title != null">TITLE,</if>
            <if test="intro != null">INTRO,</if>
            <if test="content != null">CONTENT,</if>
            <if test="titleImage != null">TITLE_IMAGE,</if>
            <if test="viewCount != null">VIEW_COUNT,</if>
            <if test="startDate != null">START_DATE,</if>
            <if test="expiryDate != null">EXPIRY_DATE,</if>
            <if test="status != null">STATUS,</if>
            <if test="revision != null">REVISION,</if>
            <if test="createdBy != null">CREATED_BY,</if>
            <if test="createdTime != null">CREATED_TIME,</if>
            <if test="updatedBy != null">UPDATED_BY,</if>
            <if test="updatedTime != null">UPDATED_TIME,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="title != null">#{title},</if>
            <if test="intro != null">#{intro},</if>
            <if test="content != null">#{content},</if>
            <if test="titleImage != null">#{titleImage},</if>
            <if test="viewCount != null">#{viewCount},</if>
            <if test="startDate != null">#{startDate},</if>
            <if test="expiryDate != null">#{expiryDate},</if>
            <if test="status != null">#{status},</if>
            <if test="revision != null">#{revision},</if>
            <if test="createdBy != null">#{createdBy},</if>
            <if test="createdTime != null">#{createdTime},</if>
            <if test="updatedBy != null">#{updatedBy},</if>
            <if test="updatedTime != null">#{updatedTime},</if>
         </trim>
    </insert>

    <update id="updateGdptAdvert" parameterType="GdptAdvert">
        update GDPT_ADVERT
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null">TITLE = #{title},</if>
            <if test="intro != null">INTRO = #{intro},</if>
            <if test="content != null">CONTENT = #{content},</if>
            <if test="titleImage != null">TITLE_IMAGE = #{titleImage},</if>
            <if test="viewCount != null">VIEW_COUNT = #{viewCount},</if>
            <if test="startDate != null">START_DATE = #{startDate},</if>
            <if test="expiryDate != null">EXPIRY_DATE = #{expiryDate},</if>
            <if test="status != null">STATUS = #{status},</if>
            <if test="revision != null">REVISION = #{revision},</if>
            <if test="createdBy != null">CREATED_BY = #{createdBy},</if>
            <if test="createdTime != null">CREATED_TIME = #{createdTime},</if>
            <if test="updatedBy != null">UPDATED_BY = #{updatedBy},</if>
            <if test="updatedTime != null">UPDATED_TIME = #{updatedTime},</if>
        </trim>
        where ID = #{id}
    </update>

    <delete id="deleteGdptAdvertById" parameterType="String">
        delete from GDPT_ADVERT where ID = #{id}
    </delete>

    <delete id="deleteGdptAdvertByIds" parameterType="String">
        delete from GDPT_ADVERT where ID in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>