<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.shop.mapper.ProductShopMapper">
    
    <resultMap type="ProductShop" id="ProductShopResult">
        <result property="shopId"    column="shop_id"    />
        <result property="shopName"    column="shop_name"    />
        <result property="shopInfo"    column="shop_info"    />
        <result property="avatar"    column="AVATAR"    />
        <result property="promAmount"    column="prom_amount"    />
        <result property="shopStatus"    column="shop_status"    />
        <result property="userScore"    column="USER_SCORE"    />
        <result property="updatedBy"    column="UPDATED_BY"    />
        <result property="updatedTime"    column="UPDATED_TIME"    />
        <result property="userId"    column="user_id"    />
    </resultMap>

    <sql id="selectProductShopVo">
        select * from product_shop
    </sql>

    <select id="selectProductShopList" parameterType="ProductShop" resultMap="ProductShopResult">
        <include refid="selectProductShopVo"/>
        <where>  
            <if test="shopName != null  and shopName != ''"> and shop_name like concat('%', #{shopName}, '%')</if>
            <if test="shopInfo != null  and shopInfo != ''"> and shop_info = #{shopInfo}</if>
            <if test="avatar != null  and avatar != ''"> and AVATAR = #{avatar}</if>
            <if test="promAmount != null "> and prom_amount = #{promAmount}</if>
            <if test="shopStatus != null  and shopStatus != ''"> and shop_status = #{shopStatus}</if>
            <if test="userScore != null "> and USER_SCORE = #{userScore}</if>
            <if test="userId != null "> and user_id = #{userId}</if>

        </where>
    </select>
    
    <select id="selectProductShopByShopId" parameterType="Long" resultMap="ProductShopResult">
        <include refid="selectProductShopVo"/>
        where shop_id = #{shopId}
    </select>
        
    <insert id="insertProductShop" parameterType="ProductShop">
        insert into product_shop
        <trim prefix="(" suffix=")" suffixOverrides=",">

            <if test="shopName != null and shopName != ''">shop_name,</if>
            <if test="shopInfo != null">shop_info,</if>
            <if test="avatar != null">AVATAR,</if>
            <if test="promAmount != null">prom_amount,</if>
            <if test="shopStatus != null">shop_status,</if>
            <if test="userScore != null">USER_SCORE,</if>
            <if test="userId != null">user_id,</if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="shopName != null and shopName != ''">#{shopName},</if>
            <if test="shopInfo != null">#{shopInfo},</if>
            <if test="avatar != null">#{avatar},</if>
            <if test="promAmount != null">#{promAmount},</if>
            <if test="shopStatus != null">#{shopStatus},</if>
            <if test="userScore != null">#{userScore},</if>
            <if test="userId != null">#{userId},</if>

        </trim>
    </insert>

    <update id="updateProductShop" parameterType="ProductShop">
        update product_shop
        <trim prefix="SET" suffixOverrides=",">
            <if test="shopName != null and shopName != ''">shop_name = #{shopName},</if>
            <if test="shopInfo != null">shop_info = #{shopInfo},</if>
            <if test="avatar != null">AVATAR = #{avatar},</if>
            <if test="promAmount != null">prom_amount = #{promAmount},</if>
            <if test="shopStatus != null">shop_status = #{shopStatus},</if>
            <if test="userScore != null">USER_SCORE = #{userScore},</if>
            <if test="userId != null">user_id = #{userId},</if>

        </trim>
        where shop_id = #{shopId}
    </update>

    <delete id="deleteProductShopByShopId" parameterType="Long">
        delete from product_shop where shop_id = #{shopId}
    </delete>

    <delete id="deleteProductShopByShopIds" parameterType="String">
        delete from product_shop where shop_id in 
        <foreach item="shopId" collection="array" open="(" separator="," close=")">
            #{shopId}
        </foreach>
    </delete>
</mapper>