<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.shop.mapper.ProductSpecOptionMapper">
    
    <resultMap type="ProductSpecOption" id="ProductSpecOptionResult">
        <result property="id"    column="id"    />
        <result property="shopId"    column="shop_id"    />
        <result property="goodsId"    column="goods_id"    />
        <result property="specId"    column="spec_id"    />
        <result property="name"    column="name"    />
        <result property="displayOrder"    column="display_order"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectProductSpecOptionVo">
        select id, shop_id, goods_id, spec_id, name, display_order, create_time, update_time from product_spec_option
    </sql>

    <select id="selectProductSpecOptionList" parameterType="ProductSpecOption" resultMap="ProductSpecOptionResult">
        <include refid="selectProductSpecOptionVo"/>
        <where>  
            <if test="shopId != null "> and shop_id = #{shopId}</if>
            <if test="goodsId != null   "> and goods_id = #{goodsId}</if>
            <if test="specId != null   "> and spec_id = #{specId}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="displayOrder != null "> and display_order = #{displayOrder}</if>
        </where>
    </select>
    
    <select id="selectProductSpecOptionById" parameterType="Long" resultMap="ProductSpecOptionResult">
        <include refid="selectProductSpecOptionVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertProductSpecOption" parameterType="ProductSpecOption" useGeneratedKeys="true" keyProperty="id">
        insert into product_spec_option
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="shopId != null">shop_id,</if>
            <if test="goodsId != null and goodsId != ''">goods_id,</if>
            <if test="specId != null and specId != ''">spec_id,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="displayOrder != null">display_order,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="shopId != null">#{shopId},</if>
            <if test="goodsId != null and goodsId != ''">#{goodsId},</if>
            <if test="specId != null and specId != ''">#{specId},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="displayOrder != null">#{displayOrder},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateProductSpecOption" parameterType="ProductSpecOption">
        update product_spec_option
        <trim prefix="SET" suffixOverrides=",">
            <if test="shopId != null">shop_id = #{shopId},</if>
            <if test="goodsId != null and goodsId != ''">goods_id = #{goodsId},</if>
            <if test="specId != null and specId != ''">spec_id = #{specId},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="displayOrder != null">display_order = #{displayOrder},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteProductSpecOptionById" parameterType="String">
        delete from product_spec_option where id = #{id}
    </delete>

    <delete id="deleteProductSpecOptionByIds" parameterType="String">
        delete from product_spec_option where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>