<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.shop.mapper.ProductCategoryMapper">
    
    <resultMap type="ProductCategory" id="ProductCategoryResult">
        <result property="id"    column="id"    />
        <result property="shopId"    column="shop_id"    />
        <result property="name"    column="name"    />
        <result property="parentId"    column="parent_id"    />
        <result property="thumb"    column="thumb"    />
        <result property="level"    column="level"    />
        <result property="displayOrder"    column="display_order"    />
        <result property="status"    column="status"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectProductCategoryVo">
        select id, shop_id, name, parent_id, thumb, level, display_order, status, create_time, update_time from product_category
    </sql>

    <select id="selectProductCategoryList" parameterType="ProductCategory" resultMap="ProductCategoryResult">
        <include refid="selectProductCategoryVo"/>
        <where>  
            <if test="shopId != null "> and shop_id = #{shopId}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="parentId != null "> and parent_id = #{parentId}</if>
            <if test="thumb != null  and thumb != ''"> and thumb = #{thumb}</if>
            <if test="level != null "> and level = #{level}</if>
            <if test="displayOrder != null "> and display_order = #{displayOrder}</if>
            <if test="status != null "> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectProductCategoryById" parameterType="String" resultMap="ProductCategoryResult">
        <include refid="selectProductCategoryVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertProductCategory" parameterType="ProductCategory" useGeneratedKeys="true" keyProperty="id">
        insert into product_category
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="shopId != null">shop_id,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="parentId != null">parent_id,</if>
            <if test="thumb != null and thumb != ''">thumb,</if>
            <if test="level != null">level,</if>
            <if test="displayOrder != null">display_order,</if>
            <if test="status != null">status,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="shopId != null">#{shopId},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="parentId != null">#{parentId},</if>
            <if test="thumb != null and thumb != ''">#{thumb},</if>
            <if test="level != null">#{level},</if>
            <if test="displayOrder != null">#{displayOrder},</if>
            <if test="status != null">#{status},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateProductCategory" parameterType="ProductCategory">
        update product_category
        <trim prefix="SET" suffixOverrides=",">
            <if test="shopId != null">shop_id = #{shopId},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="parentId != null">parent_id = #{parentId},</if>
            <if test="thumb != null and thumb != ''">thumb = #{thumb},</if>
            <if test="level != null">level = #{level},</if>
            <if test="displayOrder != null">display_order = #{displayOrder},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteProductCategoryById" parameterType="String">
        delete from product_category where id = #{id}
    </delete>

    <delete id="deleteProductCategoryByIds" parameterType="String">
        delete from product_category where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>