<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.shop.mapper.ProductGroupMapMapper">
    
    <resultMap type="ProductGroupMap" id="ProductGroupMapResult">
        <result property="id"    column="id"    />
        <result property="shopId"    column="shop_id"    />
        <result property="goodsId"    column="goods_id"    />
        <result property="groupId"    column="group_id"    />
        <result property="status"    column="status"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectProductGroupMapVo">
        select id, shop_id, goods_id, group_id, status, create_time, update_time from product_group_map
    </sql>

    <select id="selectProductGroupMapList" parameterType="ProductGroupMap" resultMap="ProductGroupMapResult">
        <include refid="selectProductGroupMapVo"/>
        <where>  
            <if test="shopId != null "> and shop_id = #{shopId}</if>
            <if test="goodsId != null "> and goods_id = #{goodsId}</if>
            <if test="groupId != null "> and group_id = #{groupId}</if>
            <if test="status != null "> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectProductGroupMapById" parameterType="String" resultMap="ProductGroupMapResult">
        <include refid="selectProductGroupMapVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertProductGroupMap" parameterType="ProductGroupMap" useGeneratedKeys="true" keyProperty="id">
        insert into product_group_map
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="shopId != null">shop_id,</if>
            <if test="goodsId != null">goods_id,</if>
            <if test="groupId != null">group_id,</if>
            <if test="status != null">status,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="shopId != null">#{shopId},</if>
            <if test="goodsId != null">#{goodsId},</if>
            <if test="groupId != null">#{groupId},</if>
            <if test="status != null">#{status},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateProductGroupMap" parameterType="ProductGroupMap">
        update product_group_map
        <trim prefix="SET" suffixOverrides=",">
            <if test="shopId != null">shop_id = #{shopId},</if>
            <if test="goodsId != null">goods_id = #{goodsId},</if>
            <if test="groupId != null">group_id = #{groupId},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteProductGroupMapById" parameterType="String">
        delete from product_group_map where id = #{id}
    </delete>

    <delete id="deleteProductGroupMapByIds" parameterType="String">
        delete from product_group_map where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>