<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.religion.mapper.ReligionFinanceComplainMapper">
    
    <resultMap type="ReligionFinanceComplain" id="ReligionFinanceComplainResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="tenantId"    column="tenant_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="status"    column="status"    />
        <result property="collegaId"    column="collega_id"    />
        <result property="teamId"    column="team_id"    />
        <result property="complainFrom"    column="complain_from"    />
        <result property="buildingId"    column="building_id"    />
        <result property="deleted"    column="deleted"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectReligionFinanceComplainVo">
        select id, name, tenant_id, create_by, create_time, update_by, update_time, status, collega_id, team_id, complain_from, building_id, deleted, remark from religion_finance_complain
    </sql>

    <select id="selectReligionFinanceComplainList" parameterType="ReligionFinanceComplain" resultMap="ReligionFinanceComplainResult">
        <include refid="selectReligionFinanceComplainVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="collegaId != null "> and collega_id = #{collegaId}</if>
            <if test="teamId != null "> and team_id = #{teamId}</if>
            <if test="complainFrom != null "> and complain_from = #{complainFrom}</if>
            <if test="buildingId != null "> and building_id = #{buildingId}</if>
        </where>
    </select>
    
    <select id="selectReligionFinanceComplainById" parameterType="Long" resultMap="ReligionFinanceComplainResult">
        <include refid="selectReligionFinanceComplainVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertReligionFinanceComplain" parameterType="ReligionFinanceComplain" useGeneratedKeys="true" keyProperty="id">
        insert into religion_finance_complain
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="tenantId != null">tenant_id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="status != null">status,</if>
            <if test="collegaId != null">collega_id,</if>
            <if test="teamId != null">team_id,</if>
            <if test="complainFrom != null">complain_from,</if>
            <if test="buildingId != null">building_id,</if>
            <if test="deleted != null">deleted,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="tenantId != null">#{tenantId},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="status != null">#{status},</if>
            <if test="collegaId != null">#{collegaId},</if>
            <if test="teamId != null">#{teamId},</if>
            <if test="complainFrom != null">#{complainFrom},</if>
            <if test="buildingId != null">#{buildingId},</if>
            <if test="deleted != null">#{deleted},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateReligionFinanceComplain" parameterType="ReligionFinanceComplain">
        update religion_finance_complain
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="tenantId != null">tenant_id = #{tenantId},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="status != null">status = #{status},</if>
            <if test="collegaId != null">collega_id = #{collegaId},</if>
            <if test="teamId != null">team_id = #{teamId},</if>
            <if test="complainFrom != null">complain_from = #{complainFrom},</if>
            <if test="buildingId != null">building_id = #{buildingId},</if>
            <if test="deleted != null">deleted = #{deleted},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteReligionFinanceComplainById" parameterType="Long">
        delete from religion_finance_complain where id = #{id}
    </delete>

    <delete id="deleteReligionFinanceComplainByIds" parameterType="String">
        delete from religion_finance_complain where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>