<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.religion.mapper.ReligionNationMapper">
    
    <resultMap type="ReligionNation" id="ReligionNationResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="tenantId"    column="tenant_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="status"    column="status"    />
        <result property="deleted"    column="deleted"    />
        <result property="remark"    column="remark"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectReligionNationVo">
        select id, name, tenant_id, create_by, create_time, update_by, status, deleted, remark, update_time from religion_nation
    </sql>

    <select id="selectReligionNationList" parameterType="ReligionNation" resultMap="ReligionNationResult">
        <include refid="selectReligionNationVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="status != null "> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectReligionNationById" parameterType="Long" resultMap="ReligionNationResult">
        <include refid="selectReligionNationVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertReligionNation" parameterType="ReligionNation" useGeneratedKeys="true" keyProperty="id">
        insert into religion_nation
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="tenantId != null">tenant_id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="status != null">status,</if>
            <if test="deleted != null">deleted,</if>
            <if test="remark != null">remark,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="tenantId != null">#{tenantId},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="status != null">#{status},</if>
            <if test="deleted != null">#{deleted},</if>
            <if test="remark != null">#{remark},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateReligionNation" parameterType="ReligionNation">
        update religion_nation
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="tenantId != null">tenant_id = #{tenantId},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="status != null">status = #{status},</if>
            <if test="deleted != null">deleted = #{deleted},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteReligionNationById" parameterType="Long">
        delete from religion_nation where id = #{id}
    </delete>

    <delete id="deleteReligionNationByIds" parameterType="String">
        delete from religion_nation where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>