<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.order.mapper.BuyerPaymentMapper">

    <resultMap type="BuyerPayment" id="BuyerPaymentResult">
        <result property="revision"    column="REVISION"    />
        <result property="createdBy"    column="CREATED_BY"    />
        <result property="createdTime"    column="CREATED_TIME"    />
        <result property="updatedBy"    column="UPDATED_BY"    />
        <result property="updatedTime"    column="UPDATED_TIME"    />
        <result property="orderId"    column="order_id"    />
        <result property="orderAmount"    column="order_amount"    />
        <result property="payAmount"    column="pay_amount"    />
        <result property="payDesc"    column="pay_desc"    />
        <result property="thirdId"    column="third_id"    />
        <result property="thirdSn"    column="third_sn"    />
        <result property="status"    column="status"    />
        <result property="notifyIp"    column="notify_ip"    />
        <result property="id"    column="id"    />
    </resultMap>

    <sql id="selectBuyerPaymentVo">
        select REVISION, CREATED_BY, CREATED_TIME, UPDATED_BY, UPDATED_TIME, order_id, order_amount, pay_amount,ip, pay_desc, third_id, third_sn, status, notify_ip, id from BUYER_PAYMENT
    </sql>

    <select id="selectBuyerPaymentList" parameterType="BuyerPayment" resultMap="BuyerPaymentResult">
        <include refid="selectBuyerPaymentVo"/>
        <where>
            <if test="revision != null "> and REVISION = #{revision}</if>
            <if test="createdBy != null  and createdBy != ''"> and CREATED_BY = #{createdBy}</if>
            <if test="createdTime != null "> and CREATED_TIME = #{createdTime}</if>
            <if test="updatedBy != null  and updatedBy != ''"> and UPDATED_BY = #{updatedBy}</if>
            <if test="updatedTime != null "> and UPDATED_TIME = #{updatedTime}</if>
            <if test="orderId != null  and orderId != ''"> and order_id = #{orderId}</if>
            <if test="orderAmount != null "> and order_amount = #{orderAmount}</if>
            <if test="payAmount != null "> and pay_amount = #{payAmount}</if>
            <if test="payDesc != null  and payDesc != ''"> and pay_desc = #{payDesc}</if>
            <if test="thirdId != null  and thirdId != ''"> and third_id = #{thirdId}</if>
            <if test="thirdSn != null  and thirdSn != ''"> and third_sn = #{thirdSn}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="notifyIp != null  and notifyIp != ''"> and notify_ip = #{notifyIp}</if>
        </where>
    </select>

    <select id="selectBuyerPaymentById" parameterType="Long" resultMap="BuyerPaymentResult">
        <include refid="selectBuyerPaymentVo"/>
        where id = #{id}
    </select>

    <insert id="insertBuyerPayment" parameterType="BuyerPayment" useGeneratedKeys="true" keyProperty="id">
        insert into BUYER_PAYMENT
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="revision != null">REVISION,</if>
            <if test="createdBy != null">CREATED_BY,</if>
            <if test="createdTime != null">CREATED_TIME,</if>
            <if test="updatedBy != null">UPDATED_BY,</if>
            <if test="updatedTime != null">UPDATED_TIME,</if>
            <if test="orderId != null and orderId != ''">order_id,</if>
            <if test="orderAmount != null">order_amount,</if>
            <if test="payAmount != null">pay_amount,</if>
            <if test="payDesc != null">pay_desc,</if>
            <if test="thirdId != null">third_id,</if>
            <if test="thirdSn != null">third_sn,</if>
            <if test="status != null">status,</if>
            <if test="notifyIp != null">notify_ip,</if>
            <if test="ip != null">ip,</if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="revision != null">#{revision},</if>
            <if test="createdBy != null">#{createdBy},</if>
            <if test="createdTime != null">#{createdTime},</if>
            <if test="updatedBy != null">#{updatedBy},</if>
            <if test="updatedTime != null">#{updatedTime},</if>
            <if test="orderId != null and orderId != ''">#{orderId},</if>
            <if test="orderAmount != null">#{orderAmount},</if>
            <if test="payAmount != null">#{payAmount},</if>
            <if test="payDesc != null">#{payDesc},</if>
            <if test="thirdId != null">#{thirdId},</if>
            <if test="thirdSn != null">#{thirdSn},</if>
            <if test="status != null">#{status},</if>
            <if test="notifyIp != null">#{notifyIp},</if>
            <if test="ip != null">#{ip},</if>

        </trim>
    </insert>

    <update id="updateBuyerPayment" parameterType="BuyerPayment">
        update BUYER_PAYMENT
        <trim prefix="SET" suffixOverrides=",">
            <if test="revision != null">REVISION = #{revision},</if>
            <if test="createdBy != null">CREATED_BY = #{createdBy},</if>
            <if test="createdTime != null">CREATED_TIME = #{createdTime},</if>
            <if test="updatedBy != null">UPDATED_BY = #{updatedBy},</if>
            <if test="updatedTime != null">UPDATED_TIME = #{updatedTime},</if>
            <if test="orderId != null and orderId != ''">order_id = #{orderId},</if>
            <if test="orderAmount != null">order_amount = #{orderAmount},</if>
            <if test="payAmount != null">pay_amount = #{payAmount},</if>
            <if test="payDesc != null">pay_desc = #{payDesc},</if>
            <if test="thirdId != null">third_id = #{thirdId},</if>
            <if test="thirdSn != null">third_sn = #{thirdSn},</if>
            <if test="status != null">status = #{status},</if>
            <if test="notifyIp != null">notify_ip = #{notifyIp},</if>
            <if test="ip != null">ip = #{ip},</if>

        </trim>
        where id = #{id}
    </update>
    <update id="updateShopAmount" parameterType="java.util.Map">

        update product_shop set amount=amount+#{amount} where shop_id=#{shopId}
    </update>

    <delete id="deleteBuyerPaymentById" parameterType="Long">
        delete from BUYER_PAYMENT where id = #{id}
    </delete>

    <delete id="deleteBuyerPaymentByIds" parameterType="String">
        delete from BUYER_PAYMENT where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>